* {
    box-sizing: border-box;  
    margin: 0;
    padding: 0; 
  }
  html {
    scroll-behavior: smooth;
  }
body {
    font-family: Arial, Helvetica, sans-serif;
    color:#fff;
}
h1 {
    font-size: 38px;
}
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 40px 80px 0 80px;
    color: black;
    padding-bottom: 20px;
}
header div {
    margin: auto;
    margin-left: 0;
}

nav ul {
    display: flex;
}

nav ul li {
    padding: 0 20px;
    list-style: none;
    font-size: 20px; 
}

a{
    text-decoration:none;
    color: black;
}

#inicio {
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 500px;
    padding: 30px 80px;
    background-image: url(dsc_0924.jpg);
}
#inicio div {
    width: 700px;
    padding-right: 80px;
}

#inicio div p {
    margin-top: 20px;
    font-size: 20px;
}
#pontos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 350px;
    background: #fff;
}
#pontos div {
    width: 300px;
}
#pontos div h1 {
    margin: 10px 0;
    font-size: 30px;
    color: black;
}
#pontos div p {
    color:black;
}
#pontos div img {
    width: 100px;
    height: 100px;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  background: #fff;
  color:black;
  font-size: 20px;
}

@media (max-width: 1000px) {
  #inicio img {
      display: none;
  }
}

@media (max-width: 800px) {
  header {
      padding: 40px 40px 0 40px;
  }
  nav ul li {
      padding: 0 10px;
      list-style: none;
      font-size: 18px; 
  }
  #inicio {
      padding: 10px 40px;
  }
  #inicio div {
      padding-right: 0px;
  }
  #inicio img {
      display: none;
  }
  #pontos {
      display: flex;
      flex-direction: column;
      height: 800px;
      padding: 40px 0;
  }